.is-mobile {
  display: none !important;
  @media (max-width: 600px) {
    display: block !important;
  }
}
.container {
  max-width: 1530px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  &_small {
    max-width: 1230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 540px;
    height: 90%;
    @media (max-width: 1366px) {
      height: 87%;
    }
    @media (max-width: 600px) {
      max-height: 95vh;
      height: 100%;
    }
  }
}
.title {
  font-family: "Huawei Bold", sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  color: #fff;
  @media (max-width: 1600px) {
    font-size: 64px;
    line-height: 76px;
  }
  @media (max-width: 1600px) {
    font-size: 60px;
    line-height: 64px;
  }
  @media (max-width: 600px) {
    font-size: 48px;
    line-height: 56px;
  }
}
.subtitle {
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 32px;
  @media (max-width: 1600px) {
    margin-bottom: 10px;
  }
  @media (max-width: 600px) {
    font-size: 32px;
    line-height: 42px;
    background: rgba(228, 5, 28, 0.64);
    padding-left: 5px;
    & > .text-red {
      color: #fff;
      font-weight: bold;
    }
  }
  @media (max-width: 359px) {
    font-size: 28px;
    line-height: 38px;
  }
}
.text {
  &-red {
    color: #e4051c;
  }
  &-bold {
    font-weight: bold;
  }
}

.btn {
  &-result {
    display: block;
    max-width: 320px;
    width: 100%;
    height: 48px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
  }
}

.arrow-down {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  position: relative;
  @media (max-height: 650px) {
    display: none !important;
  }
  &__img {
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    max-width: 100px;
    height: 100px;
    bottom: 0;
    transition: all 0.5s ease-in-out;
    animation-duration: 1s;
    animation-name: arrowDown;
    animation-iteration-count: infinite;
  }
}
